body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}





.header{
    border: 1px solid black; 
    display: flex;
    justify-content:space-between;
    flex: 1;
    width: 1024px;
    height: 200px;
}

.headerLeft{
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-between;
}

.headerLogo{
    flex: 1;
    border: 1px solid black;
}

.headerMenuLeft{
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.headerSearch{
    flex: 1;
    align-self: center;
    text-align: center;
    border: 1px solid black;
}

.headerMenuRight{
    flex: 1;
    text-align: right;
    border: 1px solid black;
}






.headerImage{
    border: 1px solid black;
    width: 1024px;
    height: 200px;
}

.content{
    border: 1px solid black;
    width: 1024px;
    min-height: 400px;
    text-align: center;
}

.footer{
    border: 1px solid black;
    width: 1024px;
    height: 50px;
    text-align: center;
}