body{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: #d8dad9;

}

.container{
    min-width: 1280px;
    min-height: 960px;

    display: flex;
    flex-direction: row;


}

.nav{
    background-color: #1f1e1f;
    width: 325px;
    height:auto;

    display: flex;
    flex-direction: column;
}

.header{
    background-color: #d8dad9;
    min-width: 955px;
    height: 600px;

}

.header-top{
    background-color: #d8dad9;

    display:flex;
    justify-content: right;

}

.header-bottom{
    background-color: #d8dad9;


}

.content{
    margin: 0;
    padding: 0;
    
    background-color: #d8dad9;
    height:fit-content;


}

.footer{
    background-color: #d8dad9;

    display:flex;
    justify-content: center;
    
}